@model BabyBook.Models.Measurement

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Measurement</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Height)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Height)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Weight)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Weight)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateOfAppointment)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateOfAppointment)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Notes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Notes)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
