@model BabyBook.Models.Word

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Word</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Word1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Word1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
