@model BabyBook.Models.First

@{
    ViewBag.Title = "Details";
}

@section featured
{
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>First Events</h1>
                <h2>anything new that our son has done.</h2>
            </hgroup>
        </div>
    </section>

}

<h2>Details</h2>

<fieldset>
    <legend>First</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstEvent)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstEvent)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstValue)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstValue)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
