<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - The Scoreboard</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        @Styles.Render("~/Content/css")
        
    </head>
    <body>
        <header>
            @RenderSection("featured", required:false)
        </header>
        <div class="row-fluid">
            @RenderBody()
        </div>
        @Scripts.Render("~/bundles/modernizr")
        @RenderSection("scripts", required: false)
        
    </body>
</html>
